/* Estilos generales */
span{
    text-align: justify;
}
.landing {
    height: 100hv;
    margin: -30px 25px 0px 25px;
}
.justificado{
    text-align: justify;
}
.title{
    font-size: 30px;
    margin: 25px 0px -30px 0px;
}
nav{
 justify-content: center;
 align-items: center;
 position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
}
.navbar-brand{
    color: white;
}
.carousel{
    height: 50%;
}
.texto{
    margin: 15px 25px;
}
.toggless{
    width: 100%;
    background-color: rgb(255, 106, 0);
    justify-content: center;
    align-content: center;
}
.paramapa{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.mpolitico{
    width: 10%;
}
.mapa{width: 50%;}
.centrar{text-align: center;
    align-content: center;
    justify-content: center;}

    .carousel-inner img {
        width: 80%;
        max-height: 70vh;
    }
    
    .carousel-inner{
     height: 70vh;
     width: 100%;
    }
a{text-decoration: none;}
.phone-wsp {
    position: fixed;
    bottom: 48px;
    right: 15px;
  }
.phone-wsp a img{
    z-index: 9999;
    width: 100px;
}

.autoria {
    position: fixed;
    bottom: 60px;
    left: 20px;
  }
.autoria button:hover{
    background-color: cyan;
    color:black}
    .descargar:hover{
        background-color: aquamarine;
    }
    .descargar{
        color: blue;
    }




    @media (max-width: 768px) {
        /* Estilos para pantallas de menos de 768 píxeles */
      
        .phone-wsp {
            position: fixed;
            bottom: 48px;
            right: 50px;
          }
        .phone-wsp a img{
            z-index: 9999;
            width: 50px;
        }
        .foot{ font-size: 12px;}
    
    
    }