/* Estilos generales */
span{
    text-align: justify;
}
.landing {
    height: 100hv;
    margin: -30px 25px 0px 25px;
}
.justificado{
    text-align: justify;
}
.title{
    font-size: 30px;
    margin: 25px 0px -30px 0px;
}
.pantalla-chica{display: none;}
nav{
 justify-content: center;
 align-items: center;
 position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
}
.navbar-brand{
    color: white;
}
.navbar-brand img{
    margin-top: -12px;
}
.carousel{
    height: 50%;
}
.texto{
    margin: 15px 25px;
}
.toggless{
    width: 100%;
    background-color: rgb(255, 106, 0);
    justify-content: center;
    align-content: center;
}
.paramapa{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.estupefacientes{width: 80%;}
.mpolitico{
    height: 85vh;
}
.mapa{width: 50%;}
.paramapagrafico{
    height: 60vh;
    justify-content: center;
    text-align: center;
}
.grafico{height: 100%;}
.centrar{text-align: center;
    align-content: center;
    justify-content: center;}

    .carousel-inner img {
        width: 100%;
        max-height: 89vh;
    }
    
    .carousel-inner{
     height: 85vh;
     width: 100%;
    }
a{text-decoration: none;}
.phone-wsp {
    position: fixed;
    bottom: 65px;
    right: 28px;
  }
  .pantalla-grande{display: block;}

.iconowsp{
    z-index: 9999;
    width: 60px;
}

.autoria {
    position: fixed;
    bottom: 78px;
    left: 37px;
  }
.autoria button:hover{
    background-color: cyan;
    color:black}
    .descargar:hover{
        background-color: aquamarine;
    }
    .descargar{
        color: blue;
    }




    @media (max-width: 768px) {
        /* Estilos para pantallas de menos de 768 píxeles */
        .navbar-brand img{
            margin-top: 0px;
        }
        .centrarpc{
            width: 100%;
            display: block;
            justify-content: center;
            align-content: center;
        }
        .pantalla-grande{display: none;}
        .pantalla-chica{
            width: 100%;
            display: block;}
        .pantalla-chica button{
            width: 90%;
        }

        .phone-wsp {
            position: fixed;
            bottom: 80px;
            right: 10px;
          }
        .phone-wsp a img{
            z-index: 9999;
            width: 50px;
        }
        .foot{ font-size: 12px;}
        .mapa{width: 80%;}
        .estupefacientes{width: 100%;}
        .autoria {
            position: fixed;
            bottom: 88px;
            left: 10px;
          }
          .paramapagrafico{
            height: 21vh;
            justify-content: center;
            text-align: center;
        }
        .grafico{height: 90%;}
        .paramapa{
            width: 100%;
            justify-content: center;
            text-align: center;
        }
        .mpolitico{
            height: 50vh;
        }
    }